<%= form_with(model: @event, local: true, class:"max-w-md") do |form| %>
  <% if @event.errors.any? %>
    <div id="error_explanation" class="bg-red-100 text-red-700 p-4 rounded-lg mb-4">
      <h2 class="font-bold text-lg">
        <%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:
      </h2>
      <ul class="list-disc pl-5 mt-2">
        <%= @event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :name, class: "block text-gray-700 font-semibold mb-2" %>
    <%= form.text_field :name, class: "w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" %>
  </div>

  <div class="mb-4">
    <%= form.label :date, class: "block text-gray-700 font-semibold mb-2" %>
    <%= form.date_field :date, class: "w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" %>
  </div>

  <div class="mb-4">
    <%= form.label :description, class: "block text-gray-700 font-semibold mb-2" %>
    <%= form.text_area :description, class: "w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" %>
  </div>

  <div>
    <%= form.submit "Submit", class: "w-full bg-blue-500 text-white p-2 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
  </div>
<% end %>
