<p style="color: green"><%= notice %></p>

<% content_for :title, "Events" %>

<h1>Events</h1>

<div id="events">
  <% @events.each do |event| %>
    <%= render event %>
    <p>
      <%= link_to "Show this event", event %>
    </p>
  <% end %>
</div>

<div id="concert_events">
  <h2>Concert events</h2>
  <% if @concert_events.present? %>
    <% @concert_events.each do |event| %>
      <%= render event %>
      <p>
        <%= link_to "Show this event", event %>
      </p>
    <% end %>
  <% else %>
    <p>No concert events found.</p>
  <% end %>
</div>

<%= link_to "New event", new_event_path %>
